<div class="col-md-4">
  <div class="card snippet-card">
    <div class="card-header">
      {{title}}
    </div>

    <div class="card-block">
      <h5 class="card-title">Created by <span class="author">{{author}}</span></h4>

      <p class="card-text">
<pre class="snippet-pre snippet-pre-gallery"><code>{{{highlight code}}}</code></pre>
      </p>

      <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#desc-collapse-{{_id}}" aria-expanded="false" aria-controls="collapseExample">
        Description
      </button>

      <div class="collapse" id="desc-collapse-{{_id}}">
        <div class="card card-block desc-container">
          {{#each (lines description)}}
            {{this}}

            &nbsp;<br />
          {{/each}}
        </div>
      </div>

      <br />

      <a href="/editor/{{_id}}" class="btn btn-primary btn-block">Open in editor</a>
    </div>
  </div>
</div>
